body {
    font-family: Arial, sans-serif;
    background-color: #6495ed;
    color: #413FC5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Elemanların dikey olarak sıralanması */
}

h2 {
    color: #6fff9d;
}

input[type="text"],
input[type="password"],
button {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e76a83;
}

button[type="submit"] {
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    background-color: white;
}
